PORT = porta do servidor

#----- Database configuration
DB_HOST=localhost
DB_PORT=porta do banco de dados
DB_USER=usuario do banco de dados
DB_PASSWORD=senha do banco de dados
DB_NAME=nome do banco de dados

#----- JWT
JWT_SECRET=string aleatoria e secreta usada para assinar o token
JWT_EXPIRES_IN=7d

