PORT = porta do servidor

#----- Database configuration
DB_HOST=localhost
DB_PORT=porta do banco de dados
DB_USER=usuario do banco de dados
DB_PASSWORD=senha do banco de dados
DB_NAME=nome do banco de dados

